.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 400px;
    left: 60px;
    }
  
  .baloon {
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 210px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 4;
    top: 240px;
    left: 235px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 5;
    top: 360px;
    left: 520px;
  }