h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-decoration: line-through;
}
ul{
    background-color:palegoldenrod;
    font-style: italic;
    line-height: 40px;
}
.bg-pul{
    background-color: peru;
}

p{
    font-weight: 600;
    font-size: 3em;
}

body{
    font-size: 16px;
}

#amar{
    background-color: yellow;
}
#verm{
    background-color: red;
}
#mar{
    background-color: brown;
}